@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900&display=swap');

:root {
  --cl-primary: #cc8b29;
  --cl-secondary: #774319;
  --cl-light: #fff;
  --cl-dark: hsla(0, 0%, 0%, 1);
  --cl-accent: #f0c33d;
  --cl-success: #396f3a;
  --cl-danger: #bf3813;

  --ff-s: 'Playfair Display', serif;
  --ff-ss: Roboto, sans-serif;

  --fz-h2: 1.5em;

  --fw-normal: 400;
  --fw-bold: 700;
  --fw-black: 900;

  --z-backdrop: 100;
  --z-modal: 200;
  --z-side-drawer: 150;

  --z-navbar: 50;
  --h-navbar: 3.75rem;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  font: inherit;
  border: none;
  cursor: pointer;
}

h1,
h2,
h3,
p {
  margin: 0;
  line-height: 1.6;
}

ul {
  margin: 0;
}

a {
  text-decoration: none;
}
