:root {
  --cl-primary: #cc8b29;
  --cl-secondary: #8f5e1e;
  --cl-light: #fff;
  --cl-accent: #dad735;

  --fz-h2: 1.5em;

  --fw-normal: 400;
  --fw-bold: 700;
  --fw-black: 900;

  --z-backdrop: 100;
  --z-modal: 200;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  font: inherit;
  border: none;
  cursor: pointer;
}
